.Title{
  position: absolute;
  font-family: "Roboto Slab";
  letter-spacing: -4px;
  font-weight: 300;
  font-size: 50pt;
  color: #ac752f;
  top:0px;
}
.Line{
  position: absolute;
  width: 91px;
  height: 3px;
  color: #ac752f;
  top: 90px;
  background-color: #ac752f;
}